* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#FFFFFF;
	width: 90vw;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background:#FFFFFF;
}
header {
	background:#D484AB;
	width:100%;
	height:150px;
	padding: 5px;
	margin-bottom: 5%;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}
.menu-top{
	height: 10px;
	margin-left: 10px;
}
.menu {
	width: 88vw;
	font-size:33px;
	list-style-type: none;
	font-family:'Italianno', cursive;
	background-color: #E5E5E5;
	z-index: 1;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.menu li {
	flex: auto;
}

.menu a {
	text-decoration: none;
	color: #67250A;
	text-align: center;
	line-height: 50px;
	display: block;
  }
.menu a:hover {
	background-color: #F7BFD8;
}

.social {
	font-size:15px;
	text-align: left;
	list-style-type: none;
	font-family: 'Actor', sans-serif;

	/*FLEXBOX*/

	display: flex;
	flex-direction: column;
}

.social a {
	vertical-align: top;
	margin: 5px;
	text-decoration: none;
	color: #FFFFFF;
  }
  
 .social a:hover {
	color: #67250A;
  }

.logo img {
	width:150px;
	vertical-align: top;
}

.slogan {
	color:rgb(255, 255, 255);
	text-decoration: none;
	line-height:50px;
    font-family: 'Italianno', cursive;
	font-size: 45px;

	/*FLEXBOX*/

	display: flex;
	justify-content:center;
}

  footer {
	background-color: #D484AB;
	position: Center;
	bottom: 0;
	width: 89.5vw;
	height: 50px;

	/*FLEXBOX*/

	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
  }
.rodape{
	margin:5px;
	font-size:13px;
	list-style-type: none;
	font-family:'Actor', sans-serif;
	}
.rodape a{
	text-align: center;
	margin: 20px;
	padding: 10px;
	text-decoration: none;
	color: #FFFFFF;
}
.rodape a:hover {
	color: #67250A;
  }

  .all{
	  margin:5px;
	  font-size: 12px;
	  padding:5px;
	  text-align: center;
	  font-family: Arial, Helvetica, sans-serif;
	  text-decoration: none;
	  color: #FFFFFF;
  }

/*Configurações Slider*/

#main{
	display: flex;
	align-items: center;
	margin-top: 2px;
	width: 100%;
	height: 580px;
}

#slideentrada {
	font-family: sans-serif;
	margin: auto;
	background-color: white;
	max-width: 980px;
	width: 900%;
	padding: 0px;
	height: 580px;
	box-sizing: border-box;

	/*FLEXBOX*/

	display: flex;
	justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
  }

#slideentrada > ul, li {
    padding-top: 0px;
    margin: 2px;
    list-style: none;
}

#slideentrada > ul.slider{
	position: relative;
	max-width: 980px;
	width: 100%;
	height: 500px;
  }
  
  #slideentrada > ul.slider h1{
	position:absolute;
	background-color: rgba(255, 255, 255, 0.6);
	width: 89.5vw;
	padding: 10px;
	left: 50%;
	top: 300px;
	text-align: center;
	font-family: 'Actor', sans-serif;
	font-size: 20px;
	transform: translate(-50%, 350%);
  }
  
  #slideentrada > ul.slider li {
	  position: absolute;
	  left: 0px;
	  top: 0px;
	  opacity: 0;
	  width: inherit;
	  height: inherit;
	  transition: opacity .5s;
	  background:#fff;
  }
  
  #slideentrada > ul.slider li img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  #slideentrada > ul.slider li:first-child {
	  opacity: 1;
  }
  
  #slideentrada > ul.slider li:target {
	  opacity: 1;
  }
  
  #slideentrada > .menuslider {
	text-align: center;
	margin: 5px;

	/*FLEXBOX*/

	display: flex;
	
  }
  
  #slideentrada > .menuslider li{
	display: inline-block;
	text-align: center;
  }
  
  #slideentrada > .menuslider li a{
	position:relative;
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: rgb(82, 38, 38);
	padding: 5px;
	width: 20px;
	height: 20px;
	font-size: 10px;
	border-radius: 100%;
	text-align: center;
	left:110px
	}

  #sobremim{
	  margin-top: 50px;
	  font-size: 15px;
	  font-family: 'Actor', sans-serif;
	  text-align: justify;

  }

  #sobremim h2 {
	  display: flex;
      align-items:center;
	  margin-top: 25px;
  }

#sobremim h2 img{
	margin: 5px;
	width: 50px;
	height: 45px;
}

#main-cardapio{
	display: flex;

	margin-left: 30px;
	margin-block-end: 30px;
}

#cardapio{
	display: flex;
	align-items: center;
	margin-top: 40px;
	font-size: 15px;
	font-family: 'Actor', sans-serif;
}

.bolos{
	display: flex;
    justify-content: center;
    align-items: center;
}

.bolos img {
  margin: 60px;	
  width: 250px;
  height: 250px;
}
.bolos p{
position:absolute;
background-color: #46363e;
top: 490px;
margin-left: 60px;
width: 250px;
line-height: 40px;
height: 40px;
text-align:center;
font-family: 'Actor', sans-serif;
color: #E5E5E5;
}

.ovosdepascoa{
	display: flex;
    justify-content: center;
    align-items: center;
}

.ovosdepascoa img{
  margin:60px;
  width: 250px;
  height: 250px;
}

.ovosdepascoa p{
	position:absolute;
	background-color: #46363e;
	top: 490px;
	width: 250px;
	margin-left: 60px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-family: 'Actor', sans-serif;
	color: #E5E5E5;
}

.diversos{
	display: flex;
    justify-content: center;
    align-items: center;
}

.diversos img{
	margin:60px;
	width: 250px;
	height: 250px;
  }
  
  .diversos p{
	  position:absolute;
	  background-color: #46363e;
	  top: 490px;
	  width: 250px;
	  margin-left: 60px;
	  line-height: 40px;
	  height: 40px;
	  text-align: center;
	  font-family: 'Actor', sans-serif;
	  color: #E5E5E5;
  }
	
  #main-contato{
	display: flex;
	align-content:center;
	margin-top: 50px;
	margin-left: 50px;
}
 #contato h1{
	margin-left:250px;
	font-size: 15px;
	font-family: 'Actor', sans-serif;
	text-align: center;
}

.btn-buttom {
	background-color: #D484AB;
    width: 50px;
	height: 50px;
	margin-top: -62px;
	display: none;
	flex-direction: column;
	align-self: flex-end;
}

@media only screen and (max-width: 900px) {
		
	header {
		background:#D484AB;
		width:100%;
		height: 121px;
		padding: 0px;
		margin: 0px;

	/*Flexbox*/
	flex-direction:column;
	justify-content:space-between;
	align-items: flex-end;

	}	

	.logo img{
		width: 130px;
		margin-top: 5px;
	}

	.slogan p{
		display: none;
	}

	.menu-top{
		margin-left: -8em;
		z-index: 1;
		height: 3px;
	}

	nav{
		margin-top: 0px;
	}

	.menu{
	flex-direction: column;
	background-color: #d484ab;
	padding-top: 0px;
	margin: 2px;
	}

    menu .ul{
		margin-top: 0px;
	}

	.menu li{
	flex: none;
	background-color:rgb(218 160 188);
	}
    .menu a:hover{
	   color: #fff;
	}

.btn-buttom{
	display:inline-block;
	border: 0px;
	margin-top: -80px;
}

.btn-buttom img{
	width: 50px;
	height: 50px;
}

li .desaparece{
	display: none;
}

.social{
	display:flex;
	justify-content: right;
	margin: 2px;
}

.social nav ul{
	display: flex;
	align-items:flex-end;
}

.social nav{
	display: none;
}

	main{
		display: column;
		margin-top: 0px;
	}

	#slideentrada > .menuslider{
		display: flex;
		justify-content: center;
	}
	.rodape{
		display: none;
	}
	body {
	  background-color: lightblue;
	}
  }
